.tile-1-1-small{position:absolute;top:0.00000000%;left:0.00000000%;width:11.11111111%;height:11.11111111%}
.tile-1-1-small *{padding: 0%;margin: 0%}
.tile-1-1-small div{position:relative}
.tile-1-1-small-vertical-medium{position:absolute;top:0.00000000%;left:0.00000000%;width:11.11111111%;height:22.22222222%}
.tile-1-1-small-vertical-medium *{padding: 0%;margin: 0%}
.tile-1-1-small-vertical-medium div{position:relative}
.tile-1-1-small-vertical-large{position:absolute;top:0.00000000%;left:0.00000000%;width:11.11111111%;height:33.33333333%}
.tile-1-1-small-vertical-large *{padding: 0%;margin: 0%}
.tile-1-1-small-vertical-large div{position:relative}
.tile-1-1-small-vertical-expansible{position:absolute;top:0.00000000%;left:0.00000000%;width:11.11111111%;height:11.11111111%}
.tile-1-1-small-vertical-expansible *{padding: 0%;margin: 0%}
.tile-1-1-small-vertical-expansible div{position:relative}
.tile-1-1-small-vertical-expansible:hover{position:absolute;top:0.00000000%;left:0.00000000%;width:11.11111111%;height:22.22222222%}
.tile-1-1-medium-vertical-small{position:absolute;top:0.00000000%;left:0.00000000%;width:22.22222222%;height:11.11111111%}
.tile-1-1-medium-vertical-small *{padding: 0%;margin: 0%}
.tile-1-1-medium-vertical-small div{position:relative}
.tile-1-1-medium{position:absolute;top:0.00000000%;left:0.00000000%;width:22.22222222%;height:22.22222222%}
.tile-1-1-medium *{padding: 0%;margin: 0%}
.tile-1-1-medium div{position:relative}
.tile-1-1-medium-vertical-large{position:absolute;top:0.00000000%;left:0.00000000%;width:22.22222222%;height:33.33333333%}
.tile-1-1-medium-vertical-large *{padding: 0%;margin: 0%}
.tile-1-1-medium-vertical-large div{position:relative}
.tile-1-1-medium-vertical-expansible{position:absolute;top:0.00000000%;left:0.00000000%;width:11.11111111%;height:22.22222222%}
.tile-1-1-medium-vertical-expansible *{padding: 0%;margin: 0%}
.tile-1-1-medium-vertical-expansible div{position:relative}
.tile-1-1-medium-vertical-expansible:hover{position:absolute;top:0.00000000%;left:0.00000000%;width:11.11111111%;height:33.33333333%}
.tile-1-1-large-vertical-small{position:absolute;top:0.00000000%;left:0.00000000%;width:33.33333333%;height:11.11111111%}
.tile-1-1-large-vertical-small *{padding: 0%;margin: 0%}
.tile-1-1-large-vertical-small div{position:relative}
.tile-1-1-large-vertical-medium{position:absolute;top:0.00000000%;left:0.00000000%;width:33.33333333%;height:22.22222222%}
.tile-1-1-large-vertical-medium *{padding: 0%;margin: 0%}
.tile-1-1-large-vertical-medium div{position:relative}
.tile-1-1-large{position:absolute;top:0.00000000%;left:0.00000000%;width:33.33333333%;height:33.33333333%}
.tile-1-1-large div{position:relative}
.tile-1-1-large *{padding: 0%;margin: 0%}
.tile-1-2-small{position:absolute;top:0.00000000%;left:33.33333333%;width:11.11111111%;height:11.11111111%}
.tile-1-2-small *{padding: 0%;margin: 0%}
.tile-1-2-small div{position:relative}
.tile-1-2-small-vertical-medium{position:absolute;top:0.00000000%;left:33.33333333%;width:11.11111111%;height:22.22222222%}
.tile-1-2-small-vertical-medium *{padding: 0%;margin: 0%}
.tile-1-2-small-vertical-medium div{position:relative}
.tile-1-2-small-vertical-large{position:absolute;top:0.00000000%;left:33.33333333%;width:11.11111111%;height:33.33333333%}
.tile-1-2-small-vertical-large *{padding: 0%;margin: 0%}
.tile-1-2-small-vertical-large div{position:relative}
.tile-1-2-small-vertical-expansible{position:absolute;top:0.00000000%;left:33.33333333%;width:11.11111111%;height:11.11111111%}
.tile-1-2-small-vertical-expansible *{padding: 0%;margin: 0%}
.tile-1-2-small-vertical-expansible div{position:relative}
.tile-1-2-small-vertical-expansible:hover{position:absolute;top:0.00000000%;left:33.33333333%;width:11.11111111%;height:22.22222222%}
.tile-1-2-small-collapse-1-1 div{position:relative}
.tile-1-2-small-collapse-1-1 *{padding: 0%;margin: 0%}
.tile-1-2-small-collapse-1-1{position:absolute;top:0.00000000%;left:33.33333333%;width:44.44444444%;height:44.44444444%}
.tile-1-2-small-collapse-2-1 div{position:relative}
.tile-1-2-small-collapse-2-1 *{padding: 0%;margin: 0%}
.tile-1-2-small-collapse-2-1{position:absolute;top:0.00000000%;left:33.33333333%;width:77.77777778%;height:44.44444444%}
.tile-1-2-medium-vertical-small{position:absolute;top:0.00000000%;left:33.33333333%;width:22.22222222%;height:11.11111111%}
.tile-1-2-medium-vertical-small *{padding: 0%;margin: 0%}
.tile-1-2-medium-vertical-small div{position:relative}
.tile-1-2-medium{position:absolute;top:0.00000000%;left:33.33333333%;width:22.22222222%;height:22.22222222%}
.tile-1-2-medium *{padding: 0%;margin: 0%}
.tile-1-2-medium div{position:relative}
.tile-1-2-medium-vertical-large{position:absolute;top:0.00000000%;left:33.33333333%;width:22.22222222%;height:33.33333333%}
.tile-1-2-medium-vertical-large *{padding: 0%;margin: 0%}
.tile-1-2-medium-vertical-large div{position:relative}
.tile-1-2-medium-vertical-expansible{position:absolute;top:0.00000000%;left:33.33333333%;width:11.11111111%;height:22.22222222%}
.tile-1-2-medium-vertical-expansible *{padding: 0%;margin: 0%}
.tile-1-2-medium-vertical-expansible div{position:relative}
.tile-1-2-medium-vertical-expansible:hover{position:absolute;top:0.00000000%;left:33.33333333%;width:11.11111111%;height:33.33333333%}
.tile-1-2-medium-collapse-1-1 div{position:relative}
.tile-1-2-medium-collapse-1-1 *{padding: 0%;margin: 0%}
.tile-1-2-medium-collapse-1-1{position:absolute;top:0.00000000%;left:33.33333333%;width:55.55555555%;height:55.55555555%}
.tile-1-2-medium-collapse-2-1 div{position:relative}
.tile-1-2-medium-collapse-2-1 *{padding: 0%;margin: 0%}
.tile-1-2-medium-collapse-2-1{position:absolute;top:0.00000000%;left:33.33333333%;width:88.88888889%;height:55.55555555%}
.tile-1-2-large-vertical-small{position:absolute;top:0.00000000%;left:33.33333333%;width:33.33333333%;height:11.11111111%}
.tile-1-2-large-vertical-small *{padding: 0%;margin: 0%}
.tile-1-2-large-vertical-small div{position:relative}
.tile-1-2-large-vertical-medium{position:absolute;top:0.00000000%;left:33.33333333%;width:33.33333333%;height:22.22222222%}
.tile-1-2-large-vertical-medium *{padding: 0%;margin: 0%}
.tile-1-2-large-vertical-medium div{position:relative}
.tile-1-2-large{position:absolute;top:0.00000000%;left:33.33333333%;width:33.33333333%;height:33.33333333%}
.tile-1-2-large div{position:relative}
.tile-1-2-large *{padding: 0%;margin: 0%}
.tile-1-3-small{position:absolute;top:0.00000000%;left:66.66666667%;width:11.11111111%;height:11.11111111%}
.tile-1-3-small *{padding: 0%;margin: 0%}
.tile-1-3-small div{position:relative}
.tile-1-3-small-vertical-medium{position:absolute;top:0.00000000%;left:66.66666667%;width:11.11111111%;height:22.22222222%}
.tile-1-3-small-vertical-medium *{padding: 0%;margin: 0%}
.tile-1-3-small-vertical-medium div{position:relative}
.tile-1-3-small-vertical-large{position:absolute;top:0.00000000%;left:66.66666667%;width:11.11111111%;height:33.33333333%}
.tile-1-3-small-vertical-large *{padding: 0%;margin: 0%}
.tile-1-3-small-vertical-large div{position:relative}
.tile-1-3-small-vertical-expansible{position:absolute;top:0.00000000%;left:66.66666667%;width:11.11111111%;height:11.11111111%}
.tile-1-3-small-vertical-expansible *{padding: 0%;margin: 0%}
.tile-1-3-small-vertical-expansible div{position:relative}
.tile-1-3-small-vertical-expansible:hover{position:absolute;top:0.00000000%;left:66.66666667%;width:11.11111111%;height:22.22222222%}
.tile-1-3-medium-vertical-small{position:absolute;top:0.00000000%;left:66.66666667%;width:22.22222222%;height:11.11111111%}
.tile-1-3-medium-vertical-small *{padding: 0%;margin: 0%}
.tile-1-3-medium-vertical-small div{position:relative}
.tile-1-3-medium{position:absolute;top:0.00000000%;left:66.66666667%;width:22.22222222%;height:22.22222222%}
.tile-1-3-medium *{padding: 0%;margin: 0%}
.tile-1-3-medium div{position:relative}
.tile-1-3-medium-vertical-large{position:absolute;top:0.00000000%;left:66.66666667%;width:22.22222222%;height:33.33333333%}
.tile-1-3-medium-vertical-large *{padding: 0%;margin: 0%}
.tile-1-3-medium-vertical-large div{position:relative}
.tile-1-3-medium-vertical-expansible{position:absolute;top:0.00000000%;left:66.66666667%;width:11.11111111%;height:22.22222222%}
.tile-1-3-medium-vertical-expansible *{padding: 0%;margin: 0%}
.tile-1-3-medium-vertical-expansible div{position:relative}
.tile-1-3-medium-vertical-expansible:hover{position:absolute;top:0.00000000%;left:66.66666667%;width:11.11111111%;height:33.33333333%}
.tile-1-3-large-vertical-small{position:absolute;top:0.00000000%;left:66.66666667%;width:33.33333333%;height:11.11111111%}
.tile-1-3-large-vertical-small *{padding: 0%;margin: 0%}
.tile-1-3-large-vertical-small div{position:relative}
.tile-1-3-large-vertical-medium{position:absolute;top:0.00000000%;left:66.66666667%;width:33.33333333%;height:22.22222222%}
.tile-1-3-large-vertical-medium *{padding: 0%;margin: 0%}
.tile-1-3-large-vertical-medium div{position:relative}
.tile-1-3-large{position:absolute;top:0.00000000%;left:66.66666667%;width:33.33333333%;height:33.33333333%}
.tile-1-3-large div{position:relative}
.tile-1-3-large *{padding: 0%;margin: 0%}
.tile-2-1-small{position:absolute;top:33.33333333%;left:0.00000000%;width:11.11111111%;height:11.11111111%}
.tile-2-1-small *{padding: 0%;margin: 0%}
.tile-2-1-small div{position:relative}
.tile-2-1-small-vertical-medium{position:absolute;top:33.33333333%;left:0.00000000%;width:11.11111111%;height:22.22222222%}
.tile-2-1-small-vertical-medium *{padding: 0%;margin: 0%}
.tile-2-1-small-vertical-medium div{position:relative}
.tile-2-1-small-vertical-large{position:absolute;top:33.33333333%;left:0.00000000%;width:11.11111111%;height:33.33333333%}
.tile-2-1-small-vertical-large *{padding: 0%;margin: 0%}
.tile-2-1-small-vertical-large div{position:relative}
.tile-2-1-small-vertical-expansible{position:absolute;top:33.33333333%;left:0.00000000%;width:11.11111111%;height:11.11111111%}
.tile-2-1-small-vertical-expansible *{padding: 0%;margin: 0%}
.tile-2-1-small-vertical-expansible div{position:relative}
.tile-2-1-small-vertical-expansible:hover{position:absolute;top:33.33333333%;left:0.00000000%;width:11.11111111%;height:22.22222222%}
.tile-2-1-small-collapse-1-1 div{position:relative}
.tile-2-1-small-collapse-1-1 *{padding: 0%;margin: 0%}
.tile-2-1-small-collapse-1-1{position:absolute;top:33.33333333%;left:0.00000000%;width:44.44444444%;height:44.44444444%}
.tile-2-1-small-collapse-1-2 div{position:relative}
.tile-2-1-small-collapse-1-2 *{padding: 0%;margin: 0%}
.tile-2-1-small-collapse-1-2{position:absolute;top:33.33333333%;left:0.00000000%;width:44.44444444%;height:77.77777778%}
.tile-2-1-medium-vertical-small{position:absolute;top:33.33333333%;left:0.00000000%;width:22.22222222%;height:11.11111111%}
.tile-2-1-medium-vertical-small *{padding: 0%;margin: 0%}
.tile-2-1-medium-vertical-small div{position:relative}
.tile-2-1-medium{position:absolute;top:33.33333333%;left:0.00000000%;width:22.22222222%;height:22.22222222%}
.tile-2-1-medium *{padding: 0%;margin: 0%}
.tile-2-1-medium div{position:relative}
.tile-2-1-medium-vertical-large{position:absolute;top:33.33333333%;left:0.00000000%;width:22.22222222%;height:33.33333333%}
.tile-2-1-medium-vertical-large *{padding: 0%;margin: 0%}
.tile-2-1-medium-vertical-large div{position:relative}
.tile-2-1-medium-vertical-expansible{position:absolute;top:33.33333333%;left:0.00000000%;width:11.11111111%;height:22.22222222%}
.tile-2-1-medium-vertical-expansible *{padding: 0%;margin: 0%}
.tile-2-1-medium-vertical-expansible div{position:relative}
.tile-2-1-medium-vertical-expansible:hover{position:absolute;top:33.33333333%;left:0.00000000%;width:11.11111111%;height:33.33333333%}
.tile-2-1-medium-collapse-1-1 div{position:relative}
.tile-2-1-medium-collapse-1-1 *{padding: 0%;margin: 0%}
.tile-2-1-medium-collapse-1-1{position:absolute;top:33.33333333%;left:0.00000000%;width:55.55555555%;height:55.55555555%}
.tile-2-1-medium-collapse-1-2 div{position:relative}
.tile-2-1-medium-collapse-1-2 *{padding: 0%;margin: 0%}
.tile-2-1-medium-collapse-1-2{position:absolute;top:33.33333333%;left:0.00000000%;width:55.55555555%;height:88.88888889%}
.tile-2-1-large-vertical-small{position:absolute;top:33.33333333%;left:0.00000000%;width:33.33333333%;height:11.11111111%}
.tile-2-1-large-vertical-small *{padding: 0%;margin: 0%}
.tile-2-1-large-vertical-small div{position:relative}
.tile-2-1-large-vertical-medium{position:absolute;top:33.33333333%;left:0.00000000%;width:33.33333333%;height:22.22222222%}
.tile-2-1-large-vertical-medium *{padding: 0%;margin: 0%}
.tile-2-1-large-vertical-medium div{position:relative}
.tile-2-1-large{position:absolute;top:33.33333333%;left:0.00000000%;width:33.33333333%;height:33.33333333%}
.tile-2-1-large div{position:relative}
.tile-2-1-large *{padding: 0%;margin: 0%}
.tile-2-2-small{position:absolute;top:33.33333333%;left:33.33333333%;width:11.11111111%;height:11.11111111%}
.tile-2-2-small *{padding: 0%;margin: 0%}
.tile-2-2-small div{position:relative}
.tile-2-2-small-vertical-medium{position:absolute;top:33.33333333%;left:33.33333333%;width:11.11111111%;height:22.22222222%}
.tile-2-2-small-vertical-medium *{padding: 0%;margin: 0%}
.tile-2-2-small-vertical-medium div{position:relative}
.tile-2-2-small-vertical-large{position:absolute;top:33.33333333%;left:33.33333333%;width:11.11111111%;height:33.33333333%}
.tile-2-2-small-vertical-large *{padding: 0%;margin: 0%}
.tile-2-2-small-vertical-large div{position:relative}
.tile-2-2-small-vertical-expansible{position:absolute;top:33.33333333%;left:33.33333333%;width:11.11111111%;height:11.11111111%}
.tile-2-2-small-vertical-expansible *{padding: 0%;margin: 0%}
.tile-2-2-small-vertical-expansible div{position:relative}
.tile-2-2-small-vertical-expansible:hover{position:absolute;top:33.33333333%;left:33.33333333%;width:11.11111111%;height:22.22222222%}
.tile-2-2-small-collapse-1-1 div{position:relative}
.tile-2-2-small-collapse-1-1 *{padding: 0%;margin: 0%}
.tile-2-2-small-collapse-1-1{position:absolute;top:33.33333333%;left:33.33333333%;width:44.44444444%;height:44.44444444%}
.tile-2-2-medium-vertical-small{position:absolute;top:33.33333333%;left:33.33333333%;width:22.22222222%;height:11.11111111%}
.tile-2-2-medium-vertical-small *{padding: 0%;margin: 0%}
.tile-2-2-medium-vertical-small div{position:relative}
.tile-2-2-medium{position:absolute;top:33.33333333%;left:33.33333333%;width:22.22222222%;height:22.22222222%}
.tile-2-2-medium *{padding: 0%;margin: 0%}
.tile-2-2-medium div{position:relative}
.tile-2-2-medium-vertical-large{position:absolute;top:33.33333333%;left:33.33333333%;width:22.22222222%;height:33.33333333%}
.tile-2-2-medium-vertical-large *{padding: 0%;margin: 0%}
.tile-2-2-medium-vertical-large div{position:relative}
.tile-2-2-medium-vertical-expansible{position:absolute;top:33.33333333%;left:33.33333333%;width:11.11111111%;height:22.22222222%}
.tile-2-2-medium-vertical-expansible *{padding: 0%;margin: 0%}
.tile-2-2-medium-vertical-expansible div{position:relative}
.tile-2-2-medium-vertical-expansible:hover{position:absolute;top:33.33333333%;left:33.33333333%;width:11.11111111%;height:33.33333333%}
.tile-2-2-medium-collapse-1-1 div{position:relative}
.tile-2-2-medium-collapse-1-1 *{padding: 0%;margin: 0%}
.tile-2-2-medium-collapse-1-1{position:absolute;top:33.33333333%;left:33.33333333%;width:55.55555555%;height:55.55555555%}
.tile-2-2-large-vertical-small{position:absolute;top:33.33333333%;left:33.33333333%;width:33.33333333%;height:11.11111111%}
.tile-2-2-large-vertical-small *{padding: 0%;margin: 0%}
.tile-2-2-large-vertical-small div{position:relative}
.tile-2-2-large-vertical-medium{position:absolute;top:33.33333333%;left:33.33333333%;width:33.33333333%;height:22.22222222%}
.tile-2-2-large-vertical-medium *{padding: 0%;margin: 0%}
.tile-2-2-large-vertical-medium div{position:relative}
.tile-2-2-large{position:absolute;top:33.33333333%;left:33.33333333%;width:33.33333333%;height:33.33333333%}
.tile-2-2-large div{position:relative}
.tile-2-2-large *{padding: 0%;margin: 0%}
.tile-2-3-small{position:absolute;top:33.33333333%;left:66.66666667%;width:11.11111111%;height:11.11111111%}
.tile-2-3-small *{padding: 0%;margin: 0%}
.tile-2-3-small div{position:relative}
.tile-2-3-small-vertical-medium{position:absolute;top:33.33333333%;left:66.66666667%;width:11.11111111%;height:22.22222222%}
.tile-2-3-small-vertical-medium *{padding: 0%;margin: 0%}
.tile-2-3-small-vertical-medium div{position:relative}
.tile-2-3-small-vertical-large{position:absolute;top:33.33333333%;left:66.66666667%;width:11.11111111%;height:33.33333333%}
.tile-2-3-small-vertical-large *{padding: 0%;margin: 0%}
.tile-2-3-small-vertical-large div{position:relative}
.tile-2-3-small-vertical-expansible{position:absolute;top:33.33333333%;left:66.66666667%;width:11.11111111%;height:11.11111111%}
.tile-2-3-small-vertical-expansible *{padding: 0%;margin: 0%}
.tile-2-3-small-vertical-expansible div{position:relative}
.tile-2-3-small-vertical-expansible:hover{position:absolute;top:33.33333333%;left:66.66666667%;width:11.11111111%;height:22.22222222%}
.tile-2-3-medium-vertical-small{position:absolute;top:33.33333333%;left:66.66666667%;width:22.22222222%;height:11.11111111%}
.tile-2-3-medium-vertical-small *{padding: 0%;margin: 0%}
.tile-2-3-medium-vertical-small div{position:relative}
.tile-2-3-medium{position:absolute;top:33.33333333%;left:66.66666667%;width:22.22222222%;height:22.22222222%}
.tile-2-3-medium *{padding: 0%;margin: 0%}
.tile-2-3-medium div{position:relative}
.tile-2-3-medium-vertical-large{position:absolute;top:33.33333333%;left:66.66666667%;width:22.22222222%;height:33.33333333%}
.tile-2-3-medium-vertical-large *{padding: 0%;margin: 0%}
.tile-2-3-medium-vertical-large div{position:relative}
.tile-2-3-medium-vertical-expansible{position:absolute;top:33.33333333%;left:66.66666667%;width:11.11111111%;height:22.22222222%}
.tile-2-3-medium-vertical-expansible *{padding: 0%;margin: 0%}
.tile-2-3-medium-vertical-expansible div{position:relative}
.tile-2-3-medium-vertical-expansible:hover{position:absolute;top:33.33333333%;left:66.66666667%;width:11.11111111%;height:33.33333333%}
.tile-2-3-large-vertical-small{position:absolute;top:33.33333333%;left:66.66666667%;width:33.33333333%;height:11.11111111%}
.tile-2-3-large-vertical-small *{padding: 0%;margin: 0%}
.tile-2-3-large-vertical-small div{position:relative}
.tile-2-3-large-vertical-medium{position:absolute;top:33.33333333%;left:66.66666667%;width:33.33333333%;height:22.22222222%}
.tile-2-3-large-vertical-medium *{padding: 0%;margin: 0%}
.tile-2-3-large-vertical-medium div{position:relative}
.tile-2-3-large{position:absolute;top:33.33333333%;left:66.66666667%;width:33.33333333%;height:33.33333333%}
.tile-2-3-large div{position:relative}
.tile-2-3-large *{padding: 0%;margin: 0%}
.tile-3-1-small{position:absolute;top:66.66666667%;left:0.00000000%;width:11.11111111%;height:11.11111111%}
.tile-3-1-small *{padding: 0%;margin: 0%}
.tile-3-1-small div{position:relative}
.tile-3-1-small-vertical-medium{position:absolute;top:66.66666667%;left:0.00000000%;width:11.11111111%;height:22.22222222%}
.tile-3-1-small-vertical-medium *{padding: 0%;margin: 0%}
.tile-3-1-small-vertical-medium div{position:relative}
.tile-3-1-small-vertical-large{position:absolute;top:66.66666667%;left:0.00000000%;width:11.11111111%;height:33.33333333%}
.tile-3-1-small-vertical-large *{padding: 0%;margin: 0%}
.tile-3-1-small-vertical-large div{position:relative}
.tile-3-1-small-vertical-expansible{position:absolute;top:66.66666667%;left:0.00000000%;width:11.11111111%;height:11.11111111%}
.tile-3-1-small-vertical-expansible *{padding: 0%;margin: 0%}
.tile-3-1-small-vertical-expansible div{position:relative}
.tile-3-1-small-vertical-expansible:hover{position:absolute;top:66.66666667%;left:0.00000000%;width:11.11111111%;height:22.22222222%}
.tile-3-1-medium-vertical-small{position:absolute;top:66.66666667%;left:0.00000000%;width:22.22222222%;height:11.11111111%}
.tile-3-1-medium-vertical-small *{padding: 0%;margin: 0%}
.tile-3-1-medium-vertical-small div{position:relative}
.tile-3-1-medium{position:absolute;top:66.66666667%;left:0.00000000%;width:22.22222222%;height:22.22222222%}
.tile-3-1-medium *{padding: 0%;margin: 0%}
.tile-3-1-medium div{position:relative}
.tile-3-1-medium-vertical-large{position:absolute;top:66.66666667%;left:0.00000000%;width:22.22222222%;height:33.33333333%}
.tile-3-1-medium-vertical-large *{padding: 0%;margin: 0%}
.tile-3-1-medium-vertical-large div{position:relative}
.tile-3-1-medium-vertical-expansible{position:absolute;top:66.66666667%;left:0.00000000%;width:11.11111111%;height:22.22222222%}
.tile-3-1-medium-vertical-expansible *{padding: 0%;margin: 0%}
.tile-3-1-medium-vertical-expansible div{position:relative}
.tile-3-1-medium-vertical-expansible:hover{position:absolute;top:66.66666667%;left:0.00000000%;width:11.11111111%;height:33.33333333%}
.tile-3-1-large-vertical-small{position:absolute;top:66.66666667%;left:0.00000000%;width:33.33333333%;height:11.11111111%}
.tile-3-1-large-vertical-small *{padding: 0%;margin: 0%}
.tile-3-1-large-vertical-small div{position:relative}
.tile-3-1-large-vertical-medium{position:absolute;top:66.66666667%;left:0.00000000%;width:33.33333333%;height:22.22222222%}
.tile-3-1-large-vertical-medium *{padding: 0%;margin: 0%}
.tile-3-1-large-vertical-medium div{position:relative}
.tile-3-1-large{position:absolute;top:66.66666667%;left:0.00000000%;width:33.33333333%;height:33.33333333%}
.tile-3-1-large div{position:relative}
.tile-3-1-large *{padding: 0%;margin: 0%}
.tile-3-2-small{position:absolute;top:66.66666667%;left:33.33333333%;width:11.11111111%;height:11.11111111%}
.tile-3-2-small *{padding: 0%;margin: 0%}
.tile-3-2-small div{position:relative}
.tile-3-2-small-vertical-medium{position:absolute;top:66.66666667%;left:33.33333333%;width:11.11111111%;height:22.22222222%}
.tile-3-2-small-vertical-medium *{padding: 0%;margin: 0%}
.tile-3-2-small-vertical-medium div{position:relative}
.tile-3-2-small-vertical-large{position:absolute;top:66.66666667%;left:33.33333333%;width:11.11111111%;height:33.33333333%}
.tile-3-2-small-vertical-large *{padding: 0%;margin: 0%}
.tile-3-2-small-vertical-large div{position:relative}
.tile-3-2-small-vertical-expansible{position:absolute;top:66.66666667%;left:33.33333333%;width:11.11111111%;height:11.11111111%}
.tile-3-2-small-vertical-expansible *{padding: 0%;margin: 0%}
.tile-3-2-small-vertical-expansible div{position:relative}
.tile-3-2-small-vertical-expansible:hover{position:absolute;top:66.66666667%;left:33.33333333%;width:11.11111111%;height:22.22222222%}
.tile-3-2-medium-vertical-small{position:absolute;top:66.66666667%;left:33.33333333%;width:22.22222222%;height:11.11111111%}
.tile-3-2-medium-vertical-small *{padding: 0%;margin: 0%}
.tile-3-2-medium-vertical-small div{position:relative}
.tile-3-2-medium{position:absolute;top:66.66666667%;left:33.33333333%;width:22.22222222%;height:22.22222222%}
.tile-3-2-medium *{padding: 0%;margin: 0%}
.tile-3-2-medium div{position:relative}
.tile-3-2-medium-vertical-large{position:absolute;top:66.66666667%;left:33.33333333%;width:22.22222222%;height:33.33333333%}
.tile-3-2-medium-vertical-large *{padding: 0%;margin: 0%}
.tile-3-2-medium-vertical-large div{position:relative}
.tile-3-2-medium-vertical-expansible{position:absolute;top:66.66666667%;left:33.33333333%;width:11.11111111%;height:22.22222222%}
.tile-3-2-medium-vertical-expansible *{padding: 0%;margin: 0%}
.tile-3-2-medium-vertical-expansible div{position:relative}
.tile-3-2-medium-vertical-expansible:hover{position:absolute;top:66.66666667%;left:33.33333333%;width:11.11111111%;height:33.33333333%}
.tile-3-2-large-vertical-small{position:absolute;top:66.66666667%;left:33.33333333%;width:33.33333333%;height:11.11111111%}
.tile-3-2-large-vertical-small *{padding: 0%;margin: 0%}
.tile-3-2-large-vertical-small div{position:relative}
.tile-3-2-large-vertical-medium{position:absolute;top:66.66666667%;left:33.33333333%;width:33.33333333%;height:22.22222222%}
.tile-3-2-large-vertical-medium *{padding: 0%;margin: 0%}
.tile-3-2-large-vertical-medium div{position:relative}
.tile-3-2-large{position:absolute;top:66.66666667%;left:33.33333333%;width:33.33333333%;height:33.33333333%}
.tile-3-2-large div{position:relative}
.tile-3-2-large *{padding: 0%;margin: 0%}
.tile-3-3-small{position:absolute;top:66.66666667%;left:66.66666667%;width:11.11111111%;height:11.11111111%}
.tile-3-3-small *{padding: 0%;margin: 0%}
.tile-3-3-small div{position:relative}
.tile-3-3-small-vertical-medium{position:absolute;top:66.66666667%;left:66.66666667%;width:11.11111111%;height:22.22222222%}
.tile-3-3-small-vertical-medium *{padding: 0%;margin: 0%}
.tile-3-3-small-vertical-medium div{position:relative}
.tile-3-3-small-vertical-large{position:absolute;top:66.66666667%;left:66.66666667%;width:11.11111111%;height:33.33333333%}
.tile-3-3-small-vertical-large *{padding: 0%;margin: 0%}
.tile-3-3-small-vertical-large div{position:relative}
.tile-3-3-small-vertical-expansible{position:absolute;top:66.66666667%;left:66.66666667%;width:11.11111111%;height:11.11111111%}
.tile-3-3-small-vertical-expansible *{padding: 0%;margin: 0%}
.tile-3-3-small-vertical-expansible div{position:relative}
.tile-3-3-small-vertical-expansible:hover{position:absolute;top:66.66666667%;left:66.66666667%;width:11.11111111%;height:22.22222222%}
.tile-3-3-medium-vertical-small{position:absolute;top:66.66666667%;left:66.66666667%;width:22.22222222%;height:11.11111111%}
.tile-3-3-medium-vertical-small *{padding: 0%;margin: 0%}
.tile-3-3-medium-vertical-small div{position:relative}
.tile-3-3-medium{position:absolute;top:66.66666667%;left:66.66666667%;width:22.22222222%;height:22.22222222%}
.tile-3-3-medium *{padding: 0%;margin: 0%}
.tile-3-3-medium div{position:relative}
.tile-3-3-medium-vertical-large{position:absolute;top:66.66666667%;left:66.66666667%;width:22.22222222%;height:33.33333333%}
.tile-3-3-medium-vertical-large *{padding: 0%;margin: 0%}
.tile-3-3-medium-vertical-large div{position:relative}
.tile-3-3-medium-vertical-expansible{position:absolute;top:66.66666667%;left:66.66666667%;width:11.11111111%;height:22.22222222%}
.tile-3-3-medium-vertical-expansible *{padding: 0%;margin: 0%}
.tile-3-3-medium-vertical-expansible div{position:relative}
.tile-3-3-medium-vertical-expansible:hover{position:absolute;top:66.66666667%;left:66.66666667%;width:11.11111111%;height:33.33333333%}
.tile-3-3-large-vertical-small{position:absolute;top:66.66666667%;left:66.66666667%;width:33.33333333%;height:11.11111111%}
.tile-3-3-large-vertical-small *{padding: 0%;margin: 0%}
.tile-3-3-large-vertical-small div{position:relative}
.tile-3-3-large-vertical-medium{position:absolute;top:66.66666667%;left:66.66666667%;width:33.33333333%;height:22.22222222%}
.tile-3-3-large-vertical-medium *{padding: 0%;margin: 0%}
.tile-3-3-large-vertical-medium div{position:relative}
.tile-3-3-large{position:absolute;top:66.66666667%;left:66.66666667%;width:33.33333333%;height:33.33333333%}
.tile-3-3-large div{position:relative}
.tile-3-3-large *{padding: 0%;margin: 0%}
